body {
    overflow: hidden;
    background-color: black;
    background-image: url(./black.jpg);
}
section {
    display: flex  ;
    align-items: center;
    justify-content: center;
}
h1,h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}